/***************************************************************************************
****************************************************************************************
****    	Copyright by Cybergig22, Null Projects & SZE and the NP Team              ****
****    	This website is free to use by other people just be sure to               ****
****    	leave this copyright notice up here a good place to get this template     ****
****    	from for your own github or other website is @                            ****
****							  		http://nullprojects.github.io/dev/GitCMS                    ****
****************************************************************************************
***************************************************************************************/
.dropbtn {
    /*background-color: #4CAF50;*/
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 112px;
}
button.dropbtn:hover{
	background-color:#247BBD;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  /* background-color: #f1f1f1; */
  background-color: #247BBD;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
    background-color: #247BBD;
}
