/***************************************************************************************
****************************************************************************************
****    	Copyright by Cybergig22, Null Projects & SZE and the NP Team              ****
****    	This website is free to use by other people just be sure to               ****
****    	leave this copyright notice up here a good place to get this template     ****
****    	from for your own github or other website is @                            ****
****							  		http://nullprojects.github.io/dev/GitCMS                    ****
****************************************************************************************
***************************************************************************************/

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: +9;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
