<!-- ------------------------------------------------------------------------------ -->
<!--    	Copyright by Cybergig22, Null Projects & SZE and the NP Team              -->
<!--    	This website is free to use by other people just be sure to               -->
<!--    	leave this copyright notice up here a good place to get this template     -->
<!--    	from for your own github or other website is @                            -->
<!--							  		http://nullprojects.github.io/dev/GitCMS             -->
<!-- ------------------------------------------------------------------------------ -->
<!DOCTYPE html>
<html ng-app="devcontent" lang="en-us">
<!-- <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-us"> -->

<head>
    <title>Null Gaming TV</title>
    <!-- ------------------------------------------------------------------------------ -->
    <!-- Meta Section -->
    <!-- ------------------------------------------------------------------------------ -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="cybergig22">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ------------------------------------------------------------------------------ -->
    <!-- End Meta Section -->
    <!-- ------------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------------ -->
    <!-- Link Section / CSS Section -->
    <!-- ------------------------------------------------------------------------------ -->
    <link id="maincss" rel="stylesheet" type="text/css" href="../mainfiles/themes/sundance/css/main-div.css">
    <link id="maincss" rel="stylesheet" type="text/css" href="../mainfiles/themes/sundance/css/dropdown-div.css">
    <link id="dropdowncss" rel="stylesheet" type="text/css" href="../mainfiles/themes/sundance/css/navbarcss-div.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- ------------------------------------------------------------------------------ -->
    <!-- End Link Section / CSS Section -->
    <!-- ------------------------------------------------------------------------------ -->
    <!-- ------------------------------------------------------------------------------ -->
    <!-- JavaScript Section -->
    <!-- ------------------------------------------------------------------------------ -->
    <!-- Uncomment if your server doesn't support javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../mainfiles/javascript/devcontent2.js"></script>
    <!-- ------------------------------------------------------------------------------ -->
    <!-- End JavaScript Section -->
    <!-- ------------------------------------------------------------------------------ -->
</head>

<body ng-controller="dev-control">
    <div class="mainwrap" align="center">
        <div class="mainwrap-c">
            <header>
                <nav>
                    <ul class="socialbar" style="height: 47px;">
                        <li class="socialbar-content">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\facebook-social.png" class="soocial-icons">
                            </a>
                        </li>
                        <li class="socialbar-content">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\twitter-social.png" class="soocial-icons">
                            </a>
                        </li>
                        <li class="socialbar-content">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\tumblr-social.png" class="soocial-icons">
                            </a>
                        </li>
                        <li class="socialbar-content">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\github-social.png" class="soocial-icons">
                            </a>
                        </li>
                        <li class="socialbar-content">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\steam-social.png" class="soocial-icons">
                            </a>
                        </li>
                        <li class="socialbar-login"> <a href="#" style="height: 47px;"><span class="glyphicon glyphicon-thumbs-up"></span> Sign Up</a>
                        </li>
                        <li class="socialbar-login"><a href="#" style="height: 47px;"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                        </li>
                    </ul>
                </nav>
                <div class="logo-img-wrap"> <img src="..\mainfiles\themes\sundance\images\header-images\NPLogo.png" alt="Null Projects" class="logo-img"> </div>
                <div>
                    <nav>
                        <ul class="navbar-ul">
                            <!-- navbar-ul -->
                            <li class="navbar-content"><a href="../index.html" style="width: 93px;">HOME</a>
                            </li>
                            <li class="navbar-content nav-active"><a href="../dev/">DEVELOPMENT</a>
                            </li>
                            <li class="navbar-content"><a href="../shop/" style="width: 97px;">SHOP</a>
                            </li>
                            <li class="navbar-content"><a href="../broadcasting/">BROADCASTING</a>
                            </li>
                            <li class="navbar-content"><a href="../community/">COMMUNITY</a>
                            </li>
                            <li class="navbar-content"><a href="../about/">ABOUT US</a>
                            </li>
                            <li class="navbar-content"><a href="../contact/">CONTACT US</a>
                            </li>
                            <li class="navbar-content"><a href="../donate/" style="width: 90px;">DONATE</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main>
                <div class="main-content-wrap">
                    <br>
                    <div class="alert alert-warning pulsate">
                      <strong>Warning</strong> This website is under construction, please check back later to see if &amp; when the website is ready :).
                    </div>
                    <br/>
                    <br/>
                    <div class="container-fluid">
                      <div class="row">
                        Sort By:
                        <select ng-model="sortgames">
                          <option value="+gametitle ">Game Title</option>
                          <option value="+gamerelease ">Release Date</option>
                        </select>
                        <br/>
                        <br/>
                        <div class="col-sm-3 " style="background-color:white; " ng-repeat="game in gametitles | toArray | orderBy:sortgames:reverse ">
                          <div style="border:1;border-bottom-color: #000000; "> <img src="{{game.gamethumb}}" /> </div>
                          <div style="border:1;border-bottom-color: #000000; "> {{game.gametitle}} </div>
                          <div style="border:1;border-bottom-color: #000000; "> {{game.gamedesc}} </div>
                          <div style="border:1;border-bottom-color: #000000; "> {{game.gamerelease | date: "MM/dd/yyyy" }} </div>
                        </div>
                        <br/>
                        <br/>
                      </div>
                      <br/>
                      <br/>
                      <!-- Optional Dropdown for sorting -->
                      <!--
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Selectable
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Product</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Release Date</a></li>
                        </ul>
                      </div>
                    -->

                      <div class="row">
                        Sort By:
                        <select ng-model="sortproducts">
                          <option value="+prodtitle ">Product</option>
                          <option value="+prodrelease ">Release Date</option>
                        </select>
                        <br/>
                        <br/>
                        <div class="col-sm-3 " style="background-color:white; " ng-repeat="product in products | toArray | orderBy:sortproducts ">
                          <div style="border:1;border-bottom-color: #000000; "> <img src="{{product.prodthumb}}" /> </div>
                          <div style="border:1;border-bottom-color: #000000; "> {{product.prodtitle}} </div>
                          <div style="border:1;border-bottom-color: #000000; "> {{product.proddesc}} </div>
                          <div style="border:1;border-bottom-color: #000000; "> {{product.prodrelease | date: "MM/dd/yyyy" }} </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br> </div>
            </main>
            <footer>
                <nav>
                    <ul class="socialbar-b">
                        <li class="socialbar-b-content" style="width: 125px;"> <strong><span>About US:</span></strong>
                            <a href="../about/">Information</a>
                            <a href="../donate/">Donate</a>
                            <a href="../contact/s/">Support</a>
                            <a href="">Projects</a></li>
                        <li class="socialbar-b-content" style="width: 125px;"> <strong><span>Community:</span></strong>
                            <a href="http://npdevforum.boards.net/" target="_new">Forum</a>
                            <a href="../community/c/">Chat</a>
                            <a href="../community/g/">Groups</a>
                            <a href="../community/b/">Blog</a></li>
                        <li class="socialbar-b-content" style="width: 125px;"> <strong><span>Careers:</span></strong>
                            <a href="../careers/">Information</a>
                            <a href="../careers/benifits.html">Benifits</a>
                            <a href="../careers/jobs.html">Jobs</a>
                            <a href="../careers/apply.html">Apply</a></li>
                        <li class="socialbar-b-right">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\steam-social.png" class="soocial-icons">
                            </a>
                        </li>
                        <li class="socialbar-b-right">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\github-social.png" class="soocial-icons">
                            </a>
                        </li>
                        <li class="socialbar-b-right">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\tumblr-social.png" class="soocial-icons">
                            </a>
                        </li>
                        <li class="socialbar-b-right">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\twitter-social.png" class="soocial-icons">
                            </a>
                        </li>
                        <li class="socialbar-b-right">
                            <a href="#"><img src="..\mainfiles\themes\sundance\images\socialbar\facebook-social.png" class="soocial-icons">
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-wrap">
                    <br>© Copyright by Null Projects &amp; SZE 2004 - 2016
                    <br>
                    <br> </div>
            </footer>
            </div>
        </div>
</body>

</html>
