/***************************************************************************************
****************************************************************************************
****    	Copyright by Cybergig22, Null Projects & SZE and the NP Team              ****
****    	This website is free to use by other people just be sure to               ****
****    	leave this copyright notice up here a good place to get this template     ****
****    	from for your own github or other website is @                            ****
****							  		http://nullprojects.github.io/dev/GitCMS                    ****
****************************************************************************************
***************************************************************************************/

/********************************************************
*********            MAIN BODY SECTION           ********
*********************************************************/
/* Body CSS */
body {
/*    background-color: #ccffcc;
*/
    background-color: #ffffff;
    background: -moz-linear-gradient(0deg, #FEFEFE 0, #247BBD 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 0deg, color-stop(0, FEFEFE), color-stop(100%, 247BBD));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #FEFEFE 0, #247BBD 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #FEFEFE 0, #247BBD 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #FEFEFE 0, #247BBD 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(0deg, #FEFEFE 0, #247BBD 100%);/* W3C */
    background-repeat:none;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    font-size:12px;
    text-align:center;
}
.mainwrap{
    padding-left:auto;
    padding-right:auto;
    padding-top:0;
    padding-bottom:0;
}
.mainwrap-c{
    width:900px;
    border:1px;
    border-style:solid;
    text-align:center;
}


/*
#full-wrap{
    max-width: 80%;
    min-width:20%;
    margin: 0 auto;
}
*/

/* Link CSS */
/*
a:link, a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover, a:active {
    background-color: #1170c9;
}
*/
a.socialicot:link,a.socialicot:visited{

}
a.socialicot:hover,a.socialicot:active{

}

a.tnav:link, a.tnav:visited{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:100%;
}
a.tnav:hover, a.tnav:active {
    background-color: #247BBD;
    color: #ffffff;
}
a.snav:link, a.snav:visited{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    width:100%;
}
a.snav:hover, a.snav:active{
    background-color: #247BBD;
    color: #ffffff;
    width:100%;
    text-decoration: none;
}
a.socialicob:link,a.socialicob:visited{

}
a.socialicob:hover,a.socialicob:active{

}


/********************************************************
*********            LOGIN SECTION               ********
*********************************************************/
.soocial-icons{
    max-width:30px;
    max-height:30px;
}
.soocial-icons-align{
    text-align: right;
}
.login-btn{
    background-color: #247BBD;
    color: #000000;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 112px;  
}
.login-btn:hover{
    background-color: #ffffff;
}
.login-button-text{
    transform:translate(2px,0);
    color:#ffffff;
}
a.login-button-text:hover{
    transform:translate(2px,0);
    color:#000000;
}



/********************************************************
*********            HEADER SECTION              ********
*********************************************************/
.header-wrap{
    background-color:#ffffff;
    width: 100%;
    height: 130px;
}
.header-text{
    text-align:center;
}
.logo-img-wrap{
    width: 100%;
    height: 200px;
    max-width:100%;
    max-height:100%;
}
.logo-img{
    width: 100%;
    max-width:100%;
    max-height:100%;
}



/********************************************************
*********        TABLE TOP LINKS SECTION         ********
*********************************************************/
/* Table Top Links */
.newnav{
    
}
.log-register-btn{
    height: 100%;
    width: 99%;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
}


/********************************************************
*********      BODY AND NAVIGATION SECTION       ********
*********************************************************/

/*************************
* Under Construction Section
**************************/
.uc01{
	border:0px;
	border-style: solid;
	width: 100%;
	height: 30px;

}
.uc02{
	border:1px;
	border-style: dashed;
	background-color: yellow;
	text-align: center;
}
/*************************
* Bodyworks
**************************/
.main-content-wrap{
    margin: 0 auto;
    border-top-style: none;
    background-color: #ffffff;
    text-align: left;
}
.content-container-wrap{
    width:98%;
    text-align: center;
}
.tumblr-post-frame{
    border: 0px;
}
/* Navigation right CSS nav2*/



/********************************************************
*********            FOOTER SECTION              ********
*********************************************************/
/* Footer CSS */
.footer-wrap-main{
	width:100%;
	vertical-align:top;
	background-color: #247BBD;
	padding:0px;
}
.footer-wrap{
	border: 0px;
	width: 100%;
	background-color: #247BBD;
	border-top-style:none;
	border-bottom-style:none;
	border-right-style:none;
	border-left-style:none;
	padding: 0px;
	margin: 0px;
}
.footer-wrap-bg{
	background-color: #247BBD;
}
.footer-wrap-bg2{
	background-color: #247BBD;
	width:65%;
}
/* Footer Links CSS */
.footer-links-wrap{
	width: 95%;
	background-color: #247BBD;
	padding:0px;
}
/* Footer Images CSS */
.footer-image-wrapbg{
	background-color: #247BBD;
	width:35%;
	vertical-align:top;
	padding:0px;
}
.footer-social-wrap{
	background-color: #247BBD;
	width: 100%;
	padding:0px;
}

/********************************************************
*********          COPYRIGHT SECTION             ********
*********************************************************/
/* Copyright CSS */
.copyrightbg{
	background-color: #247BBD;
	padding:0px;
	text-align:center;
	width: 100%;
}



/********************************************************
*********          END OF CSS CONTENT            ********
*********************************************************/
