/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : Nov 17, 2016, 1:54:23 AM
    Author     : Michael
*/

body {
    margin: 35px;
}

.twitch-widget {
    background: #333;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin: 25px 0;
    padding: 10px;
    text-decoration: none;
}

.online,
.offline {
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.online {
    background: green;
}

.offline {
    background: red;
}

.viewers {
    color: #ccc;
    display: block;
    margin: 0 0 0 15px;
    font-size: 0.8em;
}